body{

    background-color:#000;
    color:#000000;

    font-family:"Press Start 2P", monospace;

    font-size:13px;

    line-height:2;

    padding:40px;

}

.cursor{

    display:inline-block;

    width:10px;
    height:18px;

    background:white;

    animation:blink 1s infinite;

}

@keyframes blink{

    50%{
        opacity:0;
    }

}