/* TOPO */
.top-bar {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 60px;

    background-color: #4d7cff;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 20px;
    z-index: 10;
}


.agency-title {
    font-size: 1.4rem;
    font-weight: bold;
    letter-spacing: 3px;
}

.menu-icon {
    width: 26px;
    cursor: pointer;
}

/* MENU LATERAL */
.side-menu {
    position: fixed;
    top: 0;
    right: -260px;
    width: 260px;
    height: 100vh;
    background-color: #37323f;
    padding: 20px;
    transition: right 0.3s ease;
    z-index: 12;
}

.side-menu.open {
    right: 0;
}